<!DOCTYPE html>
<html>
  <head>
    <title>connect world</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=289ce65a88e8a3e1719d285404cf5acf"></script>
  </head>

  <body>
    <div class="initImage" id="initImage">
      <img src="/image/main.jpeg" class="background"/>
      <img src="/image/call.jpeg" class="callEnter"/>
    </div>

    <div id="map-container"></div>

    <div id="remote-user-containner">
      <div id="remote-user-map"></div>
          <p>地图中这个位置的朋友给您发来视频通话</p>
          <div class="remote-user-btn">
            <button id="accept-remote-user-btn">接受</button>
            <button id="reject-remote-user-btn">拒绝</button>
          </div>
    </div>

    <div id="close-video-chat-container">
      <button id="close-video-chat-btn">关闭</button>
    </div>




    <div id="videos">
      <video id="miniVideo" autoplay playsinline muted></video>
      <video id="remoteVideo" autoplay playsinline></video>
      <video id="localVideo" autoplay muted playsinline></video>
    </div>

    <!-- This file is automatically added/served when running "node index.js". -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/webrtc/adapter-latest.js"></script>
    <script src="js/util.js"></script>
    <script src="js/map.js"></script>
    <script src="js/main.js"></script>

  </body>

</html>
