<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>自定义Marker图标</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <style>
        body,
        html,
        #container {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "微软雅黑";
        }
    </style>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=289ce65a88e8a3e1719d285404cf5acf"></script>
</head>
<body>
<div id="container"></div>
</body>
</html>
<script type="text/javascript">


    var map = new AMap.Map('container', {
        resizeEnable: true,
        zoom: 15
    });
    //经纬度获取失败，加载高德地图获取
    var geolocation;
    //加载地图，调用浏览器定位服务
    map.plugin("AMap.Geolocation", function() {
        geolocation = new AMap.Geolocation({
            enableHighAccuracy: true, //是否使用高精度定位，默认:true
            timeout: 10000, //超过10秒后停止定位，默认：无穷大
            maximumAge: 0, //定位结果缓存0毫秒，默认：0
            convert: true, //自动偏移坐标，偏移后的坐标为高德坐标，默认：true
            showButton: true, //显示定位按钮，默认：true
            buttonPosition: "LB", //定位按钮停靠位置，默认：'LB'，左下角
            buttonOffset: new AMap.Pixel(10, 20), //定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            showMarker: true, //定位成功后在定位到的位置显示点标记，默认：true
            showCircle: true, //定位成功后用圆圈表示定位精度范围，默认：true
            panToLocation: true, //定位成功后将定位到的位置作为地图中心点，默认：true
            zoomToAccuracy: true, //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
        });
        map.addControl(geolocation);
        geolocation.getCurrentPosition();
        AMap.event.addListener(geolocation, "complete", onComplete); //返回定位信息
        AMap.event.addListener(geolocation, "error", onError); //返回定位出错信息
    });
    //解析定位结果
    function onComplete(data) {
        var marker = new AMap.Marker({
            icon: new AMap.Icon({
                image: "/image/title.jpeg",
                size: new AMap.Size(50, 50),  //图标所处区域大小
                imageSize: new AMap.Size(50, 50) //图标大小
            }),
            position: [data.position.R, data.position.Q],
            // position: [116.405467, 39.907761]
        });
        map.add(marker);
        console.log(data);
        // console.log('经度:' + data.position.lng, '纬度:' + data.position.lat, '省:'
        //     + data.addressComponent.province, '市：'
        //     +  (typeof data.addressComponent.city == "undefined" || data.addressComponent.city == null
        //     || data.addressComponent.city == "") ?
        //     data.addressComponent.province :
        //     data.addressComponent.city, '区县:' + data.addressComponent.district)
    }
    //解析定位错误信息
    function onError(data) {
        console.log("error");
    }

</script>
