html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

video {
    max-width: 100%;
    width: 100%;
}

.initImage {
    display:block;
}
.initImage img {
    position: absolute;
}

.initImage .background {
    width: 100%;
    hight: 100%;
    z-index: 0;
    padding-top: 100px;
}
.initImage .callEnter {
    z-index: 1;
    width: 200px;
    padding-top : 500px;
    margin: 40%;
}
.hidden {
    display: none;
}
